/* :root {
  background-color: #858585;
} */

body {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  /* border: 2px solid #fff; */
  color: #00ff41;
  background-color: #000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color-scheme: light dark;
}

h1 {
  font-size: 2em;
  line-height: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
