:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: #858585;
}

body {
  margin: 0 auto;
  color: #263238;
  background-color: #cfd8dc;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  place-items: center;
  min-width: 320px;
  min-height: 80vh;
  color-scheme: light dark;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  min-width: 90%;
  margin: 0;
  /* background-color: #080710; */
}

button {
  cursor: pointer;
}

#loginSubmit {
  cursor: pointer;
  background-color: #77001e !important;
  color: #cfd8dc !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  width: 400px;
  background-color: transparent;
  border: 2px solid #77001e;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px #77001e;
  padding: 20px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  border: none;
}

#loginSubmit {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.dark-mode {
  background-color: #263238;
  color: #cfd8dc;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}
/*table section*/
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

table {
  margin: 1em;
}
td {
  padding: 0.5em;
}
#course_description {
  text-align: justify;
}
/*end table section*/

.registry {
  width: 25%;
  margin: 0 auto;
  border: 2px solid #656565;
  border-radius: 5px;
  padding: 2em;
}

.invalid {
  border: 1px solid #ff0000;
}
.navbar {
  background-color: #f2f2f2;
  padding: 1px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar a.active {
  font-weight: bold;
}

.registry input {
  width: 100%;
  margin-bottom: 1em;
}
.registry label {
  display: flex;
}

input {
  height: 50px;
  width: 100%;
  background-color: #ffffff12;
  border-radius: 3px;
  padding: 10px 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #77001e;
  outline: none;
  color: #858585 !important;
  font-size: larger;
}
input::placeholder {
  color: #858585 !important;
}
.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 8px;
}
.password-toggle {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #858585 !important;
  font-size: larger;
}

#regNew {
  margin-top: 2rem;
  text-decoration: none;
}

#notfound404 {
  width: 500px;
  margin-bottom: 2rem;
}

#home_img {
  width: 75%;
  margin-bottom: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.datt {
  background-image: ".../client/public/google.svg";
}

/* spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
